@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

body {
  width: 100%;
  height: 100%;
}
