$green_color: rgb(64, 122, 87);
$red_color: #e60023;
$blue_color: #ccf6ee;
$dark_blue: rgb(0, 107, 108);

@mixin _button($bg-color, $color) {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  font-size: 1.05rem;
  padding: 10px 16px;
  font-weight: 400;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  background-color: $bg-color;
  font-weight: bold;
  color: $color;
  &:hover {
    filter: brightness(0.8);
  }
}
.AuthenticationPage {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  &::-webkit-scrollbar {
    display: none;
  }
  .next_section {
    scroll-snap-align: start;
    padding-top: 50px;
    width: 90%;
    margin: auto;
    height: 100vh;
    h1 {
      font-size: 3.5rem;
      text-align: center;
    }
    h2 {
      text-align: center;
      color: $green_color;
      font-size: 3.5rem;
      margin-top: 10px;
    }

    .gallery {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 15px;
      .item {
        overflow: hidden;
        border-radius: 20px;
        img {
          aspect-ratio: 4/6;
          border-radius: 20px;
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }

  .search_section {
    scroll-snap-align: start;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 235, 123);
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding: 0px 30px;

    .gallery {
      .item {
        overflow: hidden;
        border-radius: 40px;
        width: 300px;
        position: absolute;
        img {
          border-radius: 40px;
          max-height: 400px;
          object-fit: cover;
        }
      }
      .item_1 {
        left: 400px;
        bottom: 50px;
      }

      .item_2 {
        left: 500px;
        top: 50px;
      }
      .item_3 {
        left: 120px;
        top: 100px;
      }
      .item_4 {
        left: 240px;
        top: 200px;
      }
    }
    .search {
      color: #c31952;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 15px;
      h1 {
        font-size: 3.5rem;
      }
      p {
        font-size: 1.5rem;
      }

      button {
        @include _button($red_color, white);
      }
    }
  }
  .Ideas_section {
    @extend .search_section;
    background-color: $blue_color;

    .save {
      @extend .search;
      color: $dark_blue;
    }

    .Ideas_section_gallery {
      display: grid;
      grid-template-columns: 300px 200px;
      grid-template-rows: 230px;
      gap: 20px;

      .item {
        overflow: hidden;
        border-radius: 40px;
        position: relative;

        .mask {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          bottom: 0px;
          background-color: #00000068;
          border-radius: 40px;
        }
        img {
          width: 100%;
          height: 100%;
          overflow: hidden;
          object-fit: cover;
          border-radius: 40px;
          background-position: center;
        }
        p {
          font-weight: bold;
          position: absolute;
          font-size: 2.5rem;
          top: 20%;
          left: 20%;
          color: #fff;
        }
      }
    }
  }

  .signup_section {
    @extend .search_section;
    background-image: url("../../../public/images/pexels-brett-sayles-3797928.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 60% 30%;
    position: relative;
    .mask {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      background-color: #00000084;
      z-index: 1;
    }
    .signup_gallery {
      z-index: 2;
      .signup_heading {
        position: relative;
        left: 60px;
        width: 60%;
        height: 60%;
        h1 {
          color: white;
          font-size: 5rem;
        }
      }
    }

    .signup_form {
      z-index: 2;
      font-size: 1.2rem;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      text-align: center;
      background-color: white;
      padding: 30px 0px;
      border-radius: 30px;

      h1 {
        font-size: 1.7rem;
        margin: 4px 0px;
      }

      form {
        text-align: left;
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          display: flex;
          flex-direction: column;
          font-size: 1rem;
          gap: 3px;

          input {
            border-radius: 16px;
            padding: 10px 16px;
            font-size: 1.1rem;
            outline: none;
            border: 1px solid #a7a6a6;
            margin: 10px 0px;
            &::placeholder {
              font-size: 0.9rem;
              font-weight: 600;
              color: #a7a6a6;
            }
          }
        }

        button {
          @include _button($red_color, white);
        }
        .continue_with_google {
          @include _button(white, black);
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 6px;
        }
      }
      .or {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
      }
      .other {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .terms {
          p {
            color: #3f3f3f;
            font-size: 0.8rem;
            span {
              font-weight: 500;
              text-decoration: underline;
              color: black;
            }
          }
        }
        p {
          font-size: 1rem;
          color: #3f3f3f;

          span {
            font-weight: bold;
            color: black;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
}
